@import url(./constant.css);


/* ! Banner */

.banner-img img{
    width: 100%;
    height: 50%;
    object-fit:fill;
    border-radius: 20px;
}
/* ! Title */

.title{
    background-color: white;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
}

#title-name{
    color: var(--text-color);
    font-family: var(--font);
    font-weight: bold;
    font-size: 36px;
    margin: 0px;
    text-align: left;
}

#title-des{
    color: var(--text-color);
    font-family: var(--font);
    font-size: 20px;
    text-align: left;
}
.khung{
    background-color: white;
    border-radius: 20px;
    text-align: left;
    padding: 10px;
}

.khung-title{
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}
.khung-content{
    color: var(--text-color);
    font-family: var(--font);
    font-size: 18px;
    text-align: justify;
}
.hang-NVL{
    display: inline;
    margin: 15px 0px;
    width: 100%
}
.hang-NVL a{
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font);
    font-size: 18px;
    margin-right: 70%;
    margin-top: 18px;
    margin-bottom: 18px;
}

/* ?Responsive */
@media  (max-width:768px)  {
    

} 