:root{
    --primary-color: #F58A42;
    --secondary-color :#FFD5AC;
    --text-color: #333;
    --font : 'Montserrat', sans-serif;  
    }
.background-primary-color {
    background-color: var(--primary-color);
}
.background-secondary-color {
    background-color: var(--secondary-color);
}

.mg-b{
    padding: none;
}

.mg-b{
    padding: none;
}

.mg-r{
    padding: none;
}

.mg-l{
    padding: none;
}

/* ?responsive*/

@media  (max-width:739px) {
    .mg-b{
        padding-bottom: 8px !important;
    }
    
    .mg-t{
        padding-top: 8px !important;
    }
    
    .mg-r{
        padding-right: 16px !important;
    }
    
    .mg-l{
        padding-left: 16px !important;
    }

} 

@media  (min-width:740px) and (max-width:1023px) {
    .mg-t{
        padding-top: 16px !important;
    }
} 

@media  (min-width:1024px) {
    .mg-b{
        padding-bottom: 16px !important;
    }
    
    .mg-t{
        padding-top: 16px !important;
    }
}

