:root{
    --primary-color: #ff954f;
    --secondary-color :#FFD5AC;
    --sub-light-color:#C8CBD0;
    --sub-background-color:#EFF0F1;
    --text-color: #3F414E;
    --sub-text-color: #A1A4B2;
    --font : 'Montserrat', sans-serif;  
    --thin : 100;
    --extra-light : 300;
    --medium : 500;
    --semi-bold : 600;
    --bold : 700;
    --black : 900;
    }

*{ 
    box-sizing: border-box; 
    /* outline: 1px solid red;  */
}

body{
    margin: 0;
    height: auto;
}

.clear{
    clear: both;
}

.containerTrung{
    text-align: center;

}
    
.background-primary-color {
    background-color: var(--primary-color);
}
.background-secondary-color {
    background-color: var(--secondary-color);
}

.background-sub-color {
    background-color: #FEFEFE;
}

.mg-b{
    padding: none;
}

.mg-b{
    padding: none;
}

.mg-r{
    padding: none;
}

.mg-l{
    padding: none;
}

/* ?responsive*/

@media  (max-width:739px) {
    .mg-b{
        padding-bottom: 8px !important;
    }
    
    .mg-t{
        padding-top: 8px !important;
    }
    
    .mg-r{
        padding-right: 16px !important;
    }
    
    .mg-l{
        padding-left: 16px !important;
    }

} 

@media  (min-width:740px) and (max-width:1023px) {
    .mg-t{
        padding-top: 16px !important;
    }
} 

@media  (min-width:1024px) {
    .mg-b{
        padding-bottom: 16px !important;
    }
    
    .mg-t{
        padding-top: 16px !important;
    }
}

