@import url(./constant.css);

/* ! Banner */

.banner{
    padding: 120px 0px 50px 0px;
}

@media (max-width:415px){
    .banner{
        padding: 90px 0px 20px 0px;
    }
}

@media (min-width:416px) and (max-width:769px){
    .banner{
        padding: 110px 30px 40px 30px;
    }
}

@media (min-width:770px) and (max-width:1280) {
    .banner{
        padding: 110px 30px 40px 30px;
    }
}

.banner-img {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    width: auto;
    transition: 2s;
    
}

.banner-img img{
    width: 100%;
    height: 10%;
    object-fit:fill;
}

/* ! Title */
.title{
    margin: 12px 0px 12px 0px;
    
    

}

.title h2,p{
    font-family: var(--font);
    color: var(--text-color);
}

/* ! Bộ lọc */
.gia{
    
    width: fit-content;
    padding: 20px;
    
    
}
button {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.gia button span{
    font-family: var(--font);
    font-size: 18px;
    text-align: justify;

}
#container-An{

    background-color: rgb(236, 235, 234);
    width:fit-content;
    height: auto;
    display: none;
}

.select-price{
    padding: 20px;
    border: 0.5px solid whitesmoke;
    cursor: pointer;
}
.select-price p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: var(--font);
    font-size: 18px;
}
/* List sản phẩm*/
/* .product-container{
    

    width: 25%;
    height: auto;
    
    box-shadow: 0px 0px 10px 0px rgba(255,151,48,0.3);
    text-align: center;
    padding: 12px 0;
    
} */

.product-container a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.product-container{
    border-radius: 2rem;
    text-align: center;
    padding: 12px 0;
}


.product-container:hover {
    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}
.product-img {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    
}
.product-img img {
    width: 100%;
    height: 228px;
    object-fit: fit;
}
.product-name{
    font-size: 18px;
    /* height: 50px; */
    font-family: var(--font);
    margin-top: 6px;
    color: var(--text-color);
    text-align: center;

}

.product-price{
    font-size: 18px;
    color: var(--text-color);
    font-family: var(--font);
    text-align: center;
}



