.add-title{
    font-family: var(--font );
    color: var(--primary-color);
    font-size: 24px;
    font-style: var(--medium);
}
table{
    padding: 10px;
    width: 100%;
    border-top: 1px solid var(--sub-light-color);
}
td{
    padding: 20px;
}
.align-right{
    text-align: end;
}
.ic-location{
    width: 10px;
    background-color: beige;
}