#dialog{
    position: fixed;
	width: 100%;
	height: 100vh;
}

#dialog .dialog_btn{
	background: #647374;
	color: #fff;
	padding: 15px;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
}

#dialog .dialog_btn:hover{
	background: #7b8d8f;
}

#dialog .dialog_box{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: none;
}

#dialog .dialog_box .dialog_bg_shadow{
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#dialog .dialog_box .dialog_box_wrap{
	width: 550px;
	height: 250px;
	background: #fff;
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
	border-radius: 5px;
}


#dialog .dialog_box .dialog_box_wrap .dialog_header{
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
	height: 60px;
	font-size: 22px;
}	


#dialog .dialog_box .dialog_box_wrap .dialog_body{
    display: flex;
    flex-direction: column;
    align-items: center;
	padding: 20px;
	border-bottom: 1px solid #e0e0e0;
	height: calc(250px - 120px);
	font-size: 14px;
	line-height: 21px;
}

#dialog .dialog_box .dialog_box_wrap .dialog_footer{
	padding: 20px;
	height: 60px;
}

#dialog .dialog_footer .dialog_btn_grp{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

#dialog .dialog_footer .dialog_btn_grp .btn{
	width: 100px;
	padding: 10px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

#dialog .dialog_footer .dialog_btn_grp .btn.btn_confirm{
	margin-left: 10px;
	background: #363d4e;
	color: #fff;
}

#dialog .dialog_footer .dialog_btn_grp .btn.btn_cancel{
	border: 1px solid #363d4e;
	color: #363d4e;
}

#dialog .dialog_footer .dialog_btn_grp .btn.btn_cancel:hover{
	background: #363d4e;
	color: #fff;
}

#dialog .dialog_footer .dialog_btn_grp .btn:hover{
	background: #7b8d8f;
}

#dialog .dialog_box.active{
	display: block;
}
@media  (max-width:739px) {
	#dialog .dialog_box .dialog_box_wrap{
		width: 90%;
	}
} 

@media  (min-width:740px) and (max-width:1023px) {
   
} 

@media  (min-width:1024px) {
  
}
