@import url(./constant.css);

.cart-page{
    margin-top: 20vh;
    background-color: white;
    border-radius: 20px;
    padding:20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.prod-img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.cart-info{
    display: flex;
    font-size: 20px;
    font-family: var(--font);
}
td{
    padding: 10px 5px;  
    font-family: var(--font);
}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
    font-size: large;
    text-align: center;
    font-family: var(--font);
}
.total-price{
    background-color: var(--sub-background-color);
    border-radius: 1rem;
    padding: 1rem;
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-section .hide{
    display: none;
}

.button-section #btnPayment{
    margin: 1rem 0 1rem 1rem;
}

td:last-child{
    text-align: right;
}
.title{
    font-family: var(--font);
    font-size: 32px;
    text-align: center;
    color: var(--primary-color);
}
button{
    background-color: var(--text-color);
    font-family: var(--font);
    font-weight: var(--medium);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0;
    width: 15%;
    border: none;
    align-self: center;
    cursor: pointer;
}
.icon
{
    width: 24px;
    height: 24px;
}
.qty{
    width: 1vw;

}

.qty table{
    margin-right: 0;
}
.cart-info-row{
    width: 70%;
}

.product {
    padding: 1rem ;
}


/* hide nút tăng giảm */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.checkout-info{
    margin: 2rem 0;
    padding: 0 1rem;
    
}

    .info-container{
        background-color: var(--sub-background-color);
        padding: 1rem 1rem 2rem 1rem;
        border-radius: 1em;
        height: 100%;
    }

    .checkout-tilte{
        font-family: var(--font);
        font-weight: var(--semi-bold);
        color: var(--text-color);
    }

    .checkout-radio,
    .checkout-input{
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .checkout-input{
        justify-content: space-evenly;
    }

    .checkout-radio{
        margin-top: 1rem;
    }

    .checkout-input input[type=text]{
        border: none;
        padding: 0.8em 1rem;
        border-radius: 0.5em;
        margin: 5px 0;
    }
    
    .checkout-radio label{
        margin-bottom: 1rem;
    }

input[type=number] {
    -moz-appearance:textfield;
}

@media  (max-width:739px) {
    .cart-info{
        font-size: 14px;}

    .checkout-info{

        padding: 1rem 0;
        
    }
}

@media  (min-width:740px) and (max-width:1023px) {
    .cart-info{
        font-size: 16px;
    }
    .checkout-info{

        padding: 1rem 0;
        
    } 
}

@media  (max-width:415px) {
    .cart-page{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 120px;
        margin-bottom: 50px;
    }
}

