@import url(./constant.css);

.cart-page{
    margin-top: 20vh;
    background-color: white;
    border-radius: 20px;
    padding:20px;
}
table{
    width: 100%;
    border-collapse: collapse;
}

.prod-img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
.cart-info{
    display: flex;
    font-size: 20px;
    font-family: var(--font);
}
td{
    padding: 10px 5px;  
    font-family: var(--font);
}
td input{
    width: 50px;
    height: 30px;
    padding: 5px;
    font-size: large;
    text-align: center;
    font-family: var(--font);
}
.total-price{
    background-color: var(--sub-background-color);
    border-radius: 1rem;
    padding: 1rem;
}

.button-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button-section #btnPayment{
    margin: 1rem 0 1rem 1rem;
}

td:last-child{
    text-align: right;
}
.title{
    font-family: var(--font);
    font-size: 32px;
    text-align: center;
    color: var(--primary-color);
}
button{
    background-color: var(--text-color);
    font-family: var(--font);
    font-weight: var(--medium);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 50px;
    margin: 0;
    width: 15%;
    border: none;
    align-self: center;
    cursor: pointer;
}
.icon
{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.qty{
    width: 1vw;

}

.qty table{
    margin-right: 0;
}
.cart-info-row{
    width: 70%;
}

/* .product {
    padding: 1rem ;
} */


/* hide nút tăng giảm */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.checkout-info{
    margin: 2rem 0;
    padding: 0 1rem;
    
}
.form-control {
	position: relative;
}
    
    .form-control label {
        display: inline-block;
        margin-bottom: 5px;
        color: var(--text-color);
        font-family: var(--font);
        font-weight: bold;
        width: 50%;
        font-size: 16px;
    }
    .form-control input {
        height: 2rem;
        width: 100%;
        outline: none;
        border-radius: 0.5rem;
        border: 1px solid white;
        margin: 0.5rem 0;
        padding: 1.5rem;
        font-size:16px;
        color: var(--text-color);
        font-family: var(--font);
    }
    .form-control i {
        visibility: hidden;
        position: absolute;
        top: 1.5em;
        right: 1em;
    }
    .form-control.success i.fa-check-circle {
        color: #2ecc71;
        visibility: visible;
    }

    .form-control.error i.fa-exclamation-circle {
        color: #e74c3c;
        visibility: visible;
    }

    .form-control small {
        color: #e74c3c;
        position: absolute;
        bottom: -0.5rem;
        left: 1rem;
        font-family: var(--font);
        font-size: 14px;
        visibility: hidden;
    }

    .form-control.error small {
        visibility: visible;
    }
    .form-control.error {
        padding-bottom: 0.5rem;
    }

    .form-control.success input {
        border-color: #2ecc71;
    }

    .form-control.error input {
        border-color: #e74c3c;
    }

    .checkout-radio,
    .checkout-input{
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .checkout-input{
        justify-content: space-evenly;
    }

    .checkout-radio{
        margin-top: 1rem;
    }

    .checkout-radio label{
        margin-bottom: 1rem;
    }


.info-container{
    background-color: var(--sub-background-color);
    padding: 1rem 1rem 2rem 1rem;
    border-radius: 1em;
    height: 100%;
}

.checkout-tilte{
    font-family: var(--font);
    font-weight: var(--semi-bold);
    color: var(--text-color);
}

    

input[type=number] {
    -moz-appearance:textfield;
}

@media  (max-width:739px) {
    .cart-info{
        font-size: 14px;}

    .checkout-info{

        padding: 1rem 0;
        
    }
}

@media  (min-width:740px) and (max-width:1023px) {
    .cart-info{
        font-size: 16px;
    }
    .checkout-info{

        padding: 1rem 0;
        
    } 
}

@media  (max-width:1024px) {
    .cart-page{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 120px;
        margin-bottom: 50px;
    }
}

/* cái mới*/
.product{
    display: flex;
    flex-direction: row;
}

.info-product{
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}
.info-product img{
    width: 100%;
    height: auto;
    object-fit: fit;
}

.ten-gia-product{
    flex: 1;
}
.ten-gia-product p{
    font-family: var(--font);
    color: var(--text-color);
    font-size: 18px;
}

.dieu-chinh-gia{
    display: flex;
    flex-direction: row;
    float: right;
    font-family: var(--font);
    color: var(--text-color);
    font-size: 18px;
    align-items: center;
}

.productQty {
    height: fit-content;
    font-size: 18px;
    text-align: center;
    width: 5vw;
}

.dieu-chinh-gia p{
    margin-left: 10px;
    margin-right: 10px;
}
.cart-container{
    display: flex;
    flex: 1;
}
@media  (max-width:739px){
    .cart-container{
        flex-direction: column;
    }
    .product{
        flex-direction: row;
    }

    .img-product{
        width: 20vw;
        height: 15vh;
    }

    .ten-gia-product p{
        
        font-size: 14px;
    }

    button{
        width: fit-content;
        font-size: 12px;
        padding: 5px 10px;
        border-radius: 25px;
    }
    .dieu-chinh-gia{
        margin-top: 10px;
        font-size: 14px;
    }

    .dieu-chinh-gia img{
        flex: 2;
    }
    .dieu-chinh-gia p{
        flex: 2;
    }
    .dieu-chinh-gia input{
        flex: 2;
    }
    .productQty{
        font-size: 14px;
    }
    
}

@media  (min-width:740px) and (max-width:1023px)  {
    .cart-container{
        flex-direction: column;
    }
    .product{
       
        flex-direction: row;
    }

    .ten-gia-product p{
        font-size: 16px;
    }

    button{
        font-size: 14px;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 25px;
    }
    .dieu-chinh-gia{
        margin-top: 10px;
        font-size: 16px;
    }

    .dieu-chinh-gia img{
        flex: 2;
    }
    .dieu-chinh-gia p{
        flex: 2;
    }
    .dieu-chinh-gia input{
        flex: 2;
    }
    .productQty{
        font-size: 16px;
    }
}


@media  (min-width:1024px){
    .img-product{
        width: 20vw;
    }
    button{
        font-size: 16px;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 25px;
    }
    .dieu-chinh-gia img{
        flex: 2;
    }
    .dieu-chinh-gia p{
        flex: 2;
    }
    .dieu-chinh-gia input{
        flex: 2;
    }
    .productQty{
        font-size: 16px;
        margin: 0px 20px;
    }
    .ten-gia-product p{
        font-size: 16px;
    }
}
