@import url(./constant.css);


/* ! Banner */

.banner{
    padding:150px 0px 50px 0px;
}

@media (max-width:415px){
    .banner{
        padding: 90px 0px 0px 0px;
    }
}

@media (min-width:416px) and (max-width:769px){
    .banner{
        padding: 100px 0px 20px 0px;
    }
}

 

.banner-img {
    margin: 0 auto;
    overflow: hidden;
    border-radius: 20px;
    width: auto;
    transition: 2s;
    
}

.banner-img img{
    width: 100%;
    height: 50%;
    object-fit:fill;
    border-radius: 20px;
}

.banner-dot {
    margin: 10px 0px 20px;
    width: 100%;
    display: flex;
    justify-content: center
}

.banner-btn {
    border:  2px solid rgb(255, 255, 255);
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.banner-btn:hover {
    background: white;
}

/* ! section*/

section {
    padding-top: 40px;
    padding-bottom: 80px;
}
section .title{
    color: var(--text-color);
    font-family: var(--font);
    font-weight: bold;
    font-size: 36px;
}

section .img img{
    width: 100%;
    border-radius: 20px;
    object-fit: fit;
}

/* *Món ăn của ngày */

.mon-ngon-title{
    text-align: right;
    font-family: var(--font);
    font-weight: bold;
    font-size: 24px;
    color:  var(--primary-color);  
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mon-ngon-description{
    font-family: var(--font);
    font-size: 20px;
    color:  var(--text-color);  
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.mon-ngon-seemore a {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 20px;
    text-decoration-line: none;
}

.mon-ngon-cua-ngay-product {
    margin-top: 40px;
}
/* ?Responsive */
@media  (max-width:739px) {
    .mon-ngon-description{
        font-size: 16px;
        -webkit-line-clamp: 2; /* number of lines to show */
                line-clamp: 2; 
    }

} 

@media  (min-width:740px) and (max-width:1023px) {
    
    .mon-ngon-description{
        font-size: 16px;
    }
}

@media  (min-width:1024px) {

}
