.inputText{
    height: 35px;
    width: 90%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size:16px;
    color: var(--text-color);
    font-family: var(--font);
}