@import url(./constant.css);
.header {
    position: fixed;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(0);
    transition: transform 0.5s ease;
    box-shadow: 0px 0px 10px 0px rgb(131 131 131 / 18%)
}

.pc-navigation {
    display: none !important;
}

.category {
    height: 100px;
    display: flex;
    justify-content: space-between;  
    margin: 0 50px 0 50px;
    align-items: center;
}

.category-item {
    height: 100px;
    line-height: 100px;
    font-family: var(--font);
    font-weight: regular;
    margin: 0;
}

.category-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.category-item:hover > a{
    color: #ddd;
}

.category-item:hover .category-container {
    display: flex;
}


.category-container{
    display: none;
    position: absolute;
    top: 100px;
    bottom: auto;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0;
    background: white;
    
}

.category-container div {
    width: 280px;
    text-align: center;
    padding: 0px 30px;
    align-self: start;
    line-height: 2;
}

.category-container a {
    display: block;
    margin-bottom: 20px;
}
.category-container:hover .category-container {
    display: flex;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo-img {
    justify-self: center;
    width: 300px;
    padding: 24px 0px;
    background: url('../assets/img/logo.png') center center / contain no-repeat;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon-item {
    padding: 20px 0px 20px 20px;
}

.icon-item i{
    font-size: 20px;
}

.icon-item:hover {
    color: #ddd;
    cursor: pointer;
}

@media  (min-width:1024px) {
    .pc-navigation {
        display: block !important;
    }
}