.product-container {
    text-decoration: none;
    color: unset;
    background-color: white;
    padding: 10px   ;
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    /*  Shift right  
        Shift down  
        Spread 
        Blur */
    box-shadow: 0px 0px 10px 0px rgba(207, 207, 207, 0.25)
}

.product-container:hover {
    opacity: 90%;
}

.product-img {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.product-img img {
    width: 100%;
    height: auto;
    object-fit: fit;
}

.product-detail {
    text-align: left;
    padding-left: 10px;
    flex-basis: 75%;
}

.product-detail p {
    font-size: 14px;
    font-family: var(--font);
    
}

.product-info {
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.product-info p{
    font-size: 14px;
}

.product-info i {
    font-size: 32px;
    color: var(--primary-color);
}