.recipe-container{
    width: 100%;
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px rgba(207, 207, 207, 0.25)
}

.recipe-img {
    height: 150px;
}

.recipe-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: fill;
}

.recipe-detail{
    padding: 10px 0px;
    margin: 10px 20px;
    color: var(--primary-color);
    font-family: var(--font);
    font-weight: var(--semi-bold);
    text-align: start;
    font-size: 18px;
}

.recipe-description {
    color: var(--sub-text-color);
    font-weight: var(--extra-light);
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}
@media  (max-width:739px) {
    .recipe-container{
        display: flex;
        flex-direction: row;
    }
    
    .recipe-img {
        height: auto;
        flex: 2
    }   
    .recipe-detail{
        flex: 3;
        display: flex;
        flex-direction: column;
        font-size: 16px;
        justify-content: space-between;
    }
 
    .recipe-description {   
        font-size: 14px;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
    }
 
   
} 

@media  (min-width:740px) and (max-width:1023px) {
    .recipe-detail{
        font-size: 16px;
        height: 100px;
    }

    .recipe-description {
        font-size: 14px;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3; 
    }

    .recipe-img {
        height: 100px;
    }
} 

@media  (min-width:1024px) {

    
}

@media (max-width:320px) {
    .recipe-img{
        
    }
}

