<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin/css/menu.css">
    <link rel="stylesheet" href="/assets/font/bootstrap-icons-1.7.2/bootstrap-icons.css">
</head>
<body>
    <div id="menu_container">
        <i class="bi bi-arrow-bar-left close_menu"></i>
        <div id="menu-logo">
            <img src="/assets/img/logo.png" alt="">
        </div>
        <div id="AppName">Trứng</div> 
        <div id="menuItem_container">
            <div id="menuItem">
                <div> <i class="bi bi-box"> </i> Sản phẩm</div>
                <div> <i class="bi bi-file-earmark"> </i> Đơn hàng</div>
                <div> <i class="bi bi-person-badge"> </i>Phân quyền</div>
            </div>
        </div>
    </div>
   
</body>
</html>