<div id="menu_container">
    <i class="bi bi-arrow-bar-left close_menu"></i>
    <div id="menu-logo">
        <img src="/assets/img/logo.png" alt="">
    </div>
    <div id="AppName">Trứng</div> 
    <div id="menuItem_container">
        <div class="menuItem">
            <a class="" href="/admin/product-list.html" id="menu-product"> <i class="bi bi-box"> </i> Sản phẩm</a>
            <a class="" href="/admin/update-order.html" id="menu-order"> <i class="bi bi-file-earmark" > </i> Đơn hàng</a>
            <a class="" href="/admin/manage-role.html" id="menu-manage"> <i class="bi bi-person-badge"> </i>Phân quyền</a>
        </div>
    </div>
</div>