<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css" type="text/css"/>
    <link rel="stylesheet" href="../css/constant.css" type="text/css"/>
    <link rel="stylesheet" href="../css/grid_system.css" type="text/css" />
    <title>Document</title>
</head>
<body>
    <footer class="containerTrung footer background-primary-color">
        <div class="grid wide">
            <div class="row">
                <div class="col footer-nav footer-logo l-2">
                    <img src="./assets/img/logo.png" alt="">
                </div>
                
                <div class="col l-4 m-12 c-12 footer-nav">
                    <ul class="nav">
                        Bạn muốn gặp Trứng hở
                        <li>669 Quốc lộ 1A khu phố 3 Thủ Đức</li>
                        <li>Tel: 0982921920</li>
                        <li>Thời gian mở cửa: 9h30 - 22h30</li>
                        <li>Tất cả các ngày trong tuần</li>
                    </ul>
                </div>
                <div class="col l-3 m-12 c-12 footer-nav">
                    <ul class="nav">
                        Thông tin website
                        <li>Cửa hàng</li>
                        <li>Công thức</li>
                        <li>Về chúng tôi</li>
                        <li>Đăng nhập</li>
                        <li>Đăng ký</li>
                    </ul>
                </div>
                <div class="col l-3 m-12 c-12 footer-nav">
                    <ul class="nav">
                        Điều khoản và chính sách
                        <li>Chính sách mua hàng</li>
                        <li>Hướng dẫn đặt hàng</li>
                        <li>Chính sách</li>
                    </ul>
                </div>
            </div>
        </div>

    </footer>
    
</body>
</html>