<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="../css/constant.css" type="text/css"/>
    <link rel="stylesheet" href="../css/grid_system.css" type="text/css" />
    <link rel="stylesheet" href="css/header.css" type="text/css" />
</head>
<body>
    <div class="header">
        <div class="grid wide containerTrung">
            <div class="row">
                <div class="col l-2">
                    <div class="logo">
                        <a class="logo-img" href="../index.html">
                        </a>
                    </div>
                </div>
                <div class="col l-8 pc-navigation">
                    <div class="category">
                        <div class="category-item">
                            <a href="../sanpham/">SẢN PHẨM</a>
                            <div class="category-container">
                                <div>
                                    <a href="../sanpham/?type=NguyenLieu">NGUYÊN LIỆU</a>
                                    <a href="../sanpham/?type=DungCu">DỤNG CỤ</a>
                                    <a href="../sanpham/?type=Combo">COMBO</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="category-item">
                            <a href="./cong-thuc.html">CÔNG THỨC</a>
                        </div>

                        <div class="category-item">
                            <a href="./ve-chung-toi.html">VỀ CHÚNG TÔI</a>
                        </div>
                    </div>
                </div>
                <div class="col l-2 m-4 c-4 mg-r">
                    <div class="icon">
                        <div id="icon-item">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="icon-item">
                            <i class="fas fa-shopping-basket" href="./gio-hang.html"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>