<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/preloader.css">
  <link rel="icon" type="image/png" href="../assets/img/logo.png">
  <script src="../script/preloader.js" type="module"></script>
</head>
<body onload="myFunction()">
  <div id="loading"></div>
<script>
  // $(document).ready(function(){
    // 	$('div#loading').removeAttr('id');
  // });
  var preloader = document.getElementById("loading");
  // window.addEventListener('load', function(){
  // 	preloader.style.display = 'none';
  // 	})

  function myFunction(){
    preloader.style.display = 'none';
  };
</script>
</body>
</html>