#admin-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
#menu-section {
    width: 15%;
    height: 100vh;
}

#container-section{
    flex: 1;
    background-color: violet;
    height: 100vh;
}
#content-section{
    width: 25%;
    background-color: thistle;
    height: 100vh;
}