@import url(/css/constant.css);

#admin-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
#menu-section {
    width: 0;
    height: 100vh;
    transition-timing-function: ease-in;
    transition: 0.25s;
    transform: translateX(-100%);
    overflow: hidden;
}

.open-menu{
    width: 15% !important;
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateX(0) !important ;
}
#body-section{
    flex: 1;
    height: 100vh;
    background-color: var(--background-grey-color);
}
#container-section{
    
    display: flex;
    flex-direction: row;
    
}

#content-section{
    flex: 7;
}
#detail-section{
    flex: 3;
}

#detail-section.hide-detail{
    display: none;
    flex: 0;
}

.base{
    background-color: white;
    border-radius: 15px;
    width: auto;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 20vw;
    margin-right: 20vw;
    position: relative;
    padding: 2rem;

}
@media (max-width: 576px) { 
    .open-menu{
        width: 100% !important;}
 }
@media  (min-width:577px) and (max-width:739px) {
    .open-menu{
        width: 40% !important;}
} 

@media  (min-width:740px) and (max-width:1023px) {
    .open-menu{
        width: 30% !important;}
}

@media  (min-width:1024px) and (max-width:1200px) {
    .open-menu{
        width: 30% !important;}

}

@media  (min-width:1200px) {

}