@import url(../../css/constant.css);

.tieude{
    width: 100%;
    background-color: white;
    font-family: var(--font);
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding: 15px;
}

.chucvu-container{
    display: flex;
    flex-direction: row;
}
.role-title{
    font-family: var(--font);
    font-weight: bold;
    font-size: 14px;
    padding: 10px;

}
.role{

    border-radius: 5px;
    font-family: var(--font);
    font-size: 16px;
    border: 1px solid var(--sub-light-color);
    padding: 10px;
    width: 100%;
}


.vaitro-title{
    font-family: var(--font);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
input[type=checkbox]{
    text-align: center;
}
.vaitro-text{
    text-align: center;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.vaitro-container{
    display: flex !important;
    flex-direction: column;
    align-items: center;
}
.btnLuu{
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 40px;
    border: none;
    display: flex;
    text-align: center;
    margin: 50px auto;
}

@media  (max-width:739px) {
    .vaitro-container{
        align-items: flex-start;
    }

} 

@media  (min-width:740px) and (max-width:1023px) {

} 

@media  (min-width:1024px) {
 
}


